node_modules/
dist/
.next/
out/
logs/
.vercel
.env.local

# Sentry Config File
.env.sentry-build-plugin
.vercel
.vercel
*.log

# HDR sub-app
hdr/node_modules/
hdr/.next/
hdr/dist/
hdr/out/
hdr/.env*
hdr/.vercel/
# node
node_modules/
.npmrc

# editors
*.swp
*.save
*.tmp
.DS_Store

# next
.next/
out/
